@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
/* custom scroll bar */

.aboutBanner{
    height: 200px;
    background: url('../../images/party_wallpaper.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }
/* Main content styles */

.about-container {
  padding: 50px;
  text-align: center;
  }
  
  .about-container h1 {
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 30px;
  }
  
  .about-text {
  margin-bottom: 50px;
  }
  
  .about-text p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
  }
  
  .pillars {
  background-color: #f9f9f9;
  padding: 50px;
  }
  
  .pillars p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
  }
  
  .feedback {
  font-size: 16px;
  margin-top: 50px;
  text-align: center;
  color: #333;
  }
  
  .feedback a {
  color: #ff4b2b;
  }
  
  .feedback a:hover {
  text-decoration: underline;
  }